<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="regofcardsmagic" transaction-type="RESOURCE_LOCAL">

        <class>com.company.regofcardsmagic.entity.Deck</class>
        <class>com.company.regofcardsmagic.entity.People</class>
        <class>com.company.regofcardsmagic.entity.PositionInTeam</class>
        <class>com.company.regofcardsmagic.entity.Team</class>
        <class>com.company.regofcardsmagic.entity.TypesOfTournament</class>
        <class>com.company.regofcardsmagic.entity.Tournament</class>
        <class>com.company.regofcardsmagic.entity.Card</class>
        <class>com.company.regofcardsmagic.entity.Storage</class>
        <class>com.company.regofcardsmagic.entity.CardsForTrade</class>
        <class>com.company.regofcardsmagic.entity.CollectionOfCards</class>
        <class>com.company.regofcardsmagic.entity.RentCards</class>
        <class>com.company.regofcardsmagic.entity.Trade</class>
        <class>com.company.regofcardsmagic.entity.Rent</class>
        <class>com.company.regofcardsmagic.entity.TypesOfContribution</class>
        <class>com.company.regofcardsmagic.entity.Contribution</class>
    </persistence-unit>
</persistence>
